[defaults]
inventory = inventory/localhost.ini
roles_path = ./roles:./.ansible/roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
collections_path = ./.ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
