[user]
	name = Enes Anbar
	email = enesanbar@gmail.com
[core]
	excludesfile = {{ global_gitignore_path }}
	editor = subl -n -w
	autocrlf = input
[color]
    ui = auto
[url "git@github.com:"]
	insteadOf = https://github.com/
