# Defaults
export SHELL=/bin/zsh

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# ssh
export SSH_KEY_PATH="~/.ssh/id_rsa"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

export PAGER='less'

# Bullet-Train Theme Configuration
BULLETTRAIN_PROMPT_ORDER=(
    status
    custom
    context
    dir
    screen
    perl
    ruby
    virtualenv
    aws
    go
    kctx
    rust
    elixir
    hg
    cmd_exec_time
)

{% if ansible_os_family == 'Debian' %}
export BULLETTRAIN_KCTX_KCONFIG=/home/enesanbar/.kube/config
{% elif ansible_os_family == 'Darwin' %}
export BULLETTRAIN_KCTX_KCONFIG=/Users/enesanbar/.kube/config
{% endif %}

export BULLETTRAIN_KCTX_BG=blue
export BULLETTRAIN_KCTX_KUBECTL=true
export BULLETTRAIN_VIRTUALENV_BG=red
export BULLETTRAIN_VIRTUALENV_FG=black
export BULLETTRAIN_GO_FG=black
export BULLETTRAIN_NVM_FG=black
# Minimum elapsed time of command execution. If the execution time of a command is smaller than this, the segment will be hidden.
BULLETTRAIN_EXEC_TIME_ELAPSED=1

# Go lang
export GOPATH="${HOME}/go"
export PATH="$PATH:${GOPATH}/bin:${GOROOT}/bin"

# Kubectl autocompletion
if [ $commands[kubectl] ]; then source <(kubectl completion zsh); fi
if [ $commands[helm] ]; then source <(helm completion zsh); fi
if [ $commands[flux] ]; then source <(flux completion zsh); fi
if [ $commands[kubebuilder] ]; then source <(kubebuilder completion zsh); fi
if [ $commands[stern] ]; then source <(stern --completion=zsh); fi

## Virtualenv wrapper
export WORKON_HOME="{{ python_virtual_envs_folder }}"
#export PROJECT_HOME=$HOME/workspace
#export VIRTUALENVWRAPPER_VIRTUALENV=/usr/bin/virtualenv
#export VIRTUALENVWRAPPER_VIRTUALENV_ARGS='--no-site-packages'

{% if ansible_os_family == 'Debian' %}
source /usr/share/virtualenvwrapper/virtualenvwrapper.sh
{% elif ansible_os_family == 'Darwin' %}
source /opt/homebrew/bin/virtualenvwrapper.sh
{% endif %}

# setup virtualenv to work on the python at ~/.env/python
# TODO: create virtualenv named python if not exists
workon latest_v312

# Python autocomplete
if [ $commands[register-python-argcomplete] ]; then source <(register-python-argcomplete pytest); fi

# Python environment
export PYTHONSTARTUP={{ python_startup_file_location }}

{% if ansible_os_family == 'Debian' %}
complete -o nospace -C /usr/bin/terraform terraform
{% elif ansible_os_family == 'Darwin' %}
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"
complete -o nospace -C /opt/homebrew/bin/terraform terraform
{% endif %}

# AWS
export AWS_PROFILE=default

autoload -U compinit; compinit
